# Q1. Create one variable containing following type of data:

# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [1]:
a = "it is a string"
b = [3, 6, 1, 4,5, True, "it is a list"]
c = 6.77
d = (3, 6, 1, 4,5, True, "it is a tuple")

# Q2. Given are some following variables containing data:

In [2]:
var1 = 'abcd'
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

#What will be the data type of the above given variable.

In [3]:
type(var1)

str

In [4]:
type(var2)

str

In [5]:
type(var3)

list

In [6]:
type(var4)

float

# Q3. Explain the use of the following operators using an example:

# (i) / 
# (ii) %
# (iii) //
# (iv) **

In [7]:
# (1) It is a divison operator. it is use to divde two numbers

# example
8 / 3

2.6666666666666665

In [8]:
# (ii) It is a modules operator. it is used to get the reminder of a division

# example
8 % 3

2

In [9]:
# (iii) It is a floor division operator. 
# if the divison result is an floating value. then it round down it to the nearest whole number

# example
8 // 3

2

In [10]:
# (iv) it is power operator. 
# it is used to multiply base value(left side value) by itself by the number of times on the power value is (right side value)

# example
8 ** 3

512

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
l = [1, 2, 2, 4, "five", "six", 7.0, "eight", 9.0, 10.0]

for a in l:
    print(a)
    print(type(a))

1
<class 'int'>
2
<class 'int'>
2
<class 'int'>
4
<class 'int'>
five
<class 'str'>
six
<class 'str'>
7.0
<class 'float'>
eight
<class 'str'>
9.0
<class 'float'>
10.0
<class 'float'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [12]:
A = 40
B = 4

count = 0
while A % B == 0:
    A /= B
    count += 1

if count == 0:
    print(f"A is not divisible by B")
else:
    print(f"A is divisible by B {count} times")

A is divisible by B 1 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [13]:
_list = [i for i in range(1, 26)]

for num in _list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible 3")

1 is not divisible 3
2 is not divisible 3
3 is divisible by 3
4 is not divisible 3
5 is not divisible 3
6 is divisible by 3
7 is not divisible 3
8 is not divisible 3
9 is divisible by 3
10 is not divisible 3
11 is not divisible 3
12 is divisible by 3
13 is not divisible 3
14 is not divisible 3
15 is divisible by 3
16 is not divisible 3
17 is not divisible 3
18 is divisible by 3
19 is not divisible 3
20 is not divisible 3
21 is divisible by 3
22 is not divisible 3
23 is not divisible 3
24 is divisible by 3
25 is not divisible 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# In mutable data types we can change the value of them after they gets created. in the other hand we cannot change the value of immutable data types once they gets created.

In [14]:
# list is an example of mutable data types
x_list = [1,2,5,4]

In [15]:
x_list[2] = 3

In [16]:
x_list

[1, 2, 3, 4]

In [17]:
# string is an example of immutable data types
x_string = "kite"

In [18]:
x_string[0] = b

TypeError: 'str' object does not support item assignment